.language-selection{
    
    position: fixed;
    z-index: 1000;
}
/* .language-selection-right{
    align-content:right;
    position: fixed;
   
    z-index: 1000;
} */
.top{
    top:100px;
}
.fill {
    border-right: 5px solid rgb(137, 160, 223);
    /* background:#AA3344 */
}
/* .container{ 
    float:left; 
    width:100%; 
} */
/* .col
{
    position:relative;
    display:inline;
} */
/* .flex-container {
    display: flex;
  } */
  
/* .fill-width {
    flex: 1;
 } */

.first-language {
    background:#c6faef;
}
.second-language {
    background:#dccef2;
}
/* 
.aParent div {
    float: center;
    clear: none; 
} */
.box{
    display: flex;
    width:50%; /* or whatever width you want. */
    max-width:50%; /* or whatever width you want. */
    flex-basis: 0;
    flex-grow: 1;
}
pre {   
   
       
        overflow-y: scroll;
        overflow-x: auto;
        overflow: scroll;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space:pre-wrap;
        word-wrap: break-all;
     }
.code-default {
    color:darkgreen;
}

.findme{ 
    border-style: solid;
    border-color: green;
}